body {
    background-color: aliceblue;
    font-size: 20px;
}

button {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table-header {
    background-color: lightgreen;
}

.container {
    padding-left: 100px;
    padding-top: 10px;
    width: 50%;
}

.header {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.header-elem {
    display: inline-block;
}

.login-item {
    padding: 8px;
}

.login-item label {
    display: inline-block;
    width: 100px;
}

#login-message {
    color: red;
}

.footer {
    text-align: center;
}

.product-image {
    width: 75px;
}

.cart-icon {
    width: 25px;
}

#total-value {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    padding: 0;
    width: auto;
    background: aliceblue;
}

.plus-sign {
    width: 15px;
    padding-left: 10px;
}

.minus-sign {
    width: 15px;
    padding-right: 10px;
}

.message-error {
    color: red;
}

.message-success {
    color: green;
}

.quantity-field {
    width: 20px;
}

#total-paragraph {
    text-align: right;
    font-size: 30px;
}

.header-elem-space {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 25px;
    font-weight: bold;
}