<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 12 home page</title>
    <link href="../assets/css/main.css" rel="stylesheet">
</head>
<body>
    <h1>Welcome to Lab 12 by Alikhan Amandyk!</h1>
    <div class="item">
        <a href="/users">Add a user</a>
    </div>
    <div class="item">
        <a href="/products">Add a product</a>
    </div>
    <div>
        <h2>Copyright&copy; by MIU</h2>
    </div>
</body>
</html>